<div class="container">
  <div >
    <h1>contact us</h1>
  </div>
  <div>
    <h4 style="text-align:center">We'd love to hear from you!</h4>
  </div>
  <div class="row input-container">
    <div class="col-xs-14">
      <div class="styled-input wide">
        <input type="text" required />
        <label>Name</label>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="styled-input">
        <input type="text" required />
        <label>Email</label>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="styled-input" style="float:right;">
        <input type="number" required />
        <label>Phone Number</label>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="styled-input wide">
        <textarea required></textarea>
        <label>Message</label>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="btn-lrg submit-btn">Send Message</div>
    </div>
  </div>
</div>
