<section style="width: 90%;margin-left: 70px;margin-bottom: 100px">

  <div class="mt-4 grid grid-cols-2  sm:grid-cols-4 gap-x-5 gap-y-5">
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book1.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book3.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>
    <div class="relative rounded-xl overflow-hidden ">
      <img src="assets/book2.png" class="object-cover w-full h-full -z-10" alt="Room" >
      <div class="absolute top-0 h-full w-full bg-gradient-to-t from-black/50 p-3 flex flex-col justify-between">
        <a href="#"  data-tooltip="Join" class="p-2.5 bg-gray-800/80 rounded-lg text-white self-end hover:bg-red-600/80">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
          </svg>
        </a>

        <div class="self-center flex flex-col items-center space-y-2">
          <span class="capitalize text-white font-medium drop-shadow-md">Joseph Gordon-Levitt</span>
          <span class="text-gray-300 text-xs">+24 Movies</span>

        </div>
      </div>
    </div>

  </div>
</section>
