<div class="chapters-grid">
  <div class="chapter-card" *ngFor="let chapter of chapters" [routerLink]="'/book/'+bookId+'/chapter/'+chapter._id" >
    <h3 class="chapter-title">Chapter {{chapter.chapterNumber}}: The Beginning</h3>
    <p>A mysterious stranger arrives in town with a secret that will change everything.</p>
    <div class="chapter-meta">
      <span>Last edited: {{chapter.updatedAt | date}}</span>
      <span>Created By: {{chapter.createdBy.name}}</span>
    </div>
  </div>


<!--  <div class="add-chapter">-->
<!--    + Add New Chapter-->
<!--  </div>-->
</div>
