<app-default-page>
  <div class="reader-container">
    <div class="book-meta">
      <div class="book-title">{{this.book.title}}</div>
      <h1 class="chapter-title">Chapter {{this.chapter.chapterNumber}}: {{chapter.title}}</h1>
<!--      <div class="chapter-description">-->
<!--        In which our hero first discovers the mysterious artifact that will change everything.-->
<!--      </div>-->
    </div>

    <div class="chapter-content no-select">
      <div [innerHTML]="getSafeHtml(chapter.confirmedVersion.content)"></div>

    </div>

    <div class="navigation">
      <button class="nav-button" (click)="previous()" [disabled]="chapter.chapterNumber===1">Previous</button>
      <button class="nav-button" (click)="next()" [disabled]="chapter.chapterNumber===book.chapters.length">Next Chapter</button>
    </div>
  </div>
</app-default-page>
